.app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: relative;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  width: 100vw;
  padding: 1.5em;
  will-change: filter;
}

.openModal-button {
  color: #061ab1;
  font-size: 2.1rem;
  font-weight: 600;
  padding: .7rem 1.5rem .9rem;
}

.openModal-button:hover {
  border: 2px solid #FF2827;
  color: #FF2827
}