
  

.app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container {
  position: fixed;
  width: 30vh;
  top: 0;
}

.logo {
  width: 100vw;
  padding: 1.5em;
  will-change: filter;
}

button {
  border-radius: 8px;
  border: 2px solid blue;

}

.openModal-button {
  color: blue;
  font-size: 2.1rem;
  font-weight: 600;
  padding: .7rem 1.5rem .9rem;

}

.openModal-button:hover {
  border: 2px solid #af0cc8;
  color: #af0cc8

}