*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  background-color: #000;
  color: #061ab1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #061ab1;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: #061ab1;
}

button:hover {
  border-color: #FF2827;
  color: #FF2827
}

button:focus,
button:focus-visible {
  outline: 4px auto #FF2827;
  color: #FF2827    
}